spring-cxf-service/src/main/webapp/WEB-INF/wsdl/MobileStore.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ms="http://www.venkat.com/venkatstore/MobileStore/"
	xmlns:mst="http://www.venkat.com/venkatstore/types/MobileStore/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MobileStore"
	targetNamespace="http://www.venkat.com/venkatstore/MobileStore/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.venkat.com/venkatstore/types/MobileStore/">
			<xsd:complexType name="Address">
				<xsd:sequence>
					<xsd:element name="line1" type="xsd:string" />
					<xsd:element name="line2" type="xsd:string" />

					<xsd:element name="city" type="xsd:string" />
					<xsd:element name="state" type="xsd:string" />
					<xsd:element name="pin" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="AccountDetails">
				<xsd:sequence>
					<xsd:element name="accNumber" type="xsd:string" />
					<xsd:element name="bankName" type="xsd:string" />

					<xsd:element name="branch" type="xsd:string" />
					<xsd:element name="pinNumber" type="xsd:int" />

				</xsd:sequence>
			</xsd:complexType>


			<xsd:element name="BuyNewMobielResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="reponseMessage" type="xsd:string" />
						<xsd:element name="mobileModel" type="xsd:string" />
						<xsd:element name="mobileColor" type="xsd:string" />
						<xsd:element name="mobileName" type="xsd:string" />
						<xsd:element name="price" type="xsd:long" />
						<xsd:element name="address" type="mst:Address" />
					</xsd:sequence>
				</xsd:complexType>

			</xsd:element>
			<xsd:element name="BuyNewMobielRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mobileModel" type="xsd:string" />
						<xsd:element name="mobileColor" type="xsd:string" />
						<xsd:element name="mobileName" type="xsd:string" />
						<xsd:element name="address" type="mst:Address" />
						<xsd:element name="accountDetails" type="mst:AccountDetails" />

					</xsd:sequence>
				</xsd:complexType>

			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="BuyNewMobileRequest">
		<wsdl:part element="mst:BuyNewMobielRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="BuyNewMobileResponse">
		<wsdl:part element="mst:BuyNewMobielResponse" name="response" />
	</wsdl:message>
	<wsdl:portType name="MobileStore">
		<wsdl:operation name="buyNewMobile">
			<wsdl:input message="ms:BuyNewMobileRequest" />
			<wsdl:output message="ms:BuyNewMobileResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MobileStoreSOAPBindings" type="ms:MobileStore">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="buyNewMobile">
			<soap:operation
				soapAction="http://www.venkat.com/venkatstore/MobileStore/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MobileStoreService">
		<wsdl:port binding="ms:MobileStoreSOAPBindings" name="MobileStorePort">
			<soap:address location="/MobileStorePort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
